.nav-item{
    font-size: 19px;
    letter-spacing: 1px;
}


.slide{
    margin-top: 10px;
}
.slide img{
    height: 98vh;
}

main>.container-pro{
    padding: 30px 0;
}


.text-deco{
    width: 100%;
    padding: 25px;
}
.text-deco{
    font-family: fantasy;
    font-size: 40px;

}